{% extends "base.html" %}
{% block body %}
<div class="container">
  <div class="row main">
    <div class="panel-heading">
      <div class="panel-title text-center">
        <h1 class="title">API Crunch</h1>
        <hr />
      </div>
    </div>
    <div class="main-login main-center">
      <form class="form-horizontal" method="post" action="#">

        <div class="form-group">
          <label for="name" class="cols-sm-2 control-label">Api Key</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-key fa" aria-hidden="true"></i></span>
              <input type="text" class="form-control" name="key" id="key" required=" " placeholder="Enter your Api Key"/>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="email" class="cols-sm-2 control-label">Your vCode</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-codepen fa" aria-hidden="true"></i></span>
              <input type="text" class="form-control" name="vcode" id="vcode" required=" " placeholder="Enter your vCode"/>
            </div>
          </div>
        </div>


        <div class="form-group ">
          <button type="submit" class="btn btn-primary btn-lg btn-block login-button" action="/">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
